body {
    font-family: Arial, sans-serif;
    background: #35363a;
}

h1, h2 {
    color: white;
    margin-bottom: 20px;
}

table {
    color: white!important;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #1c1c1c;
    border: 0!important;
}

tr{
    border: 0!important;
}

th, td {
    padding: 5px 20px!important;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border: 1px solid #252525!important;
}

th {
    color: white!important;
    background: #313131!important;
    border: 0!important;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #313131!important;
    border: 1px solid #272727!important;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*==================*/

header {
    padding: 15px 0;
    background: #35363a;
/*  background: linear-gradient(to right, rgba(0, 0, 0, 86%), rgba(104, 104, 104, 25%)), url(../images/background.png) center no-repeat;
    background-size: cover;*/
    z-index: 10;
    position: relative;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1c1c1c;
    padding: 10px 45px;
    margin-bottom: 15px;
    z-index: 10;
}

header .navbar .mobile_buttons{
    display: none!important;
}

header .navbar img {
    width: 165px;
    height: 75px;
}

header .navbar .buttons a {
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

header .navbar .buttons a.contact {
    padding: 10px;
    background: #e69837;
    border-radius: 5px;
    color: white;
}

header .navbar .buttons a:hover{
    opacity: 0.7;
}

header .navbar .dropbtn {
    padding: 7px 15px;
    background: #e69837;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

header .navbar .dropdown {
  position: relative;
  display: inline-block;
}

header .navbar .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

header .navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .navbar .dropdown-content a:hover {background-color: #f1f1f1;}

header .navbar .dropdown:hover .dropdown-content {
  display: block;
}

header .navbar .dropdown:hover .dropbtn {
  background-color: #ccc;
}


form{
/*    padding: 30px 50px;*/
    background: #1c1c1c;
}

form input{
    color: white!important;
}
